/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Caveat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #007BFF;
    padding: 20px;
    text-align: center;
    position: relative;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 20px 0;
}

/* Button */
.waiting-room-btn {
    display: block;
    width: 250px;
    padding: 15px;
    background-color: #FF7F50;
    text-align: center;
    color: white;
    border: none;
    font-size: 1.2em;
    margin: 20px auto;
    text-decoration: none;
    border-radius: 5px;
}

.waiting-room-btn:hover {
    background-color: #FF6347;
}

/* Footer */
footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-icons a {
    font-size: 1.5em;
}

footer .logo-footer img {
    width: 80px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        cursor: pointer;
        color: white;
    }

    .navigation-links {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #007BFF;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
        transition: transform 0.3s ease-in-out;
    }

    .navigation-links.open {
        display: flex;
        transform: translateY(0);
    }

    .navigation-links a {
        color: white;
        text-decoration: none;
        padding: 15px;
        font-size: 1.5em;
        transition: background-color 0.3s ease;
    }

    .navigation-links a:hover {
        background-color: #0056b3;
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
}
